.puzzle-piece {

    .overlay {
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;        
        display: none;
    }

    position: relative;

    .selection-layer,
    .find-piece,
    .icon-layer,
    .image-layer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .icon-layer {
        width: 40px;
        position: absolute;
        right: 12px;
        left: inherit;

        img {
            width: 100%;
        }
    }

    .grayscale {
        filter: grayscale(1);
    }

    .find-piece {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .image-layer {
        background-size: contain;
    }

    .selection-layer {
        border: 4px dashed silver;
    }

    .available-label {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: gray;
    }

    .transparent {
        opacity: 0;
    }

    .owned-count-container {
        display: flex;
        align-items: center;
        color: #25b925;

        span {
            display: inline-block;
            position: relative;
            left: -3px;
        }
    }
}


.show-overlay > .overlay {
    display: inherit !important;
}

.purple-overlay > .overlay {    
    border: solid 1px #8f37e3;
}

.blue-overlay > .overlay {
    border: solid 1px #2196f3;
}