.view-puzzle-pieces {
    &.mini-map-list {        
        height: calc(100vh - 90px);
        overflow-y: auto;

        font-size:9px;

        .puzzle-container {
            .puzzle {
                &.active {
                    box-shadow: rgb(210 39 58) 0px 0px 0px 3px;
                }

                cursor: pointer;
            }

            .puzzle-pieces {
                width: 180px;
                height: 180px;

                .icon-layer {
                    width: 12px;
                    right: 3px;
                }
            }
        }
    }
}
