.active-trade-list {
    overflow-y: auto;
    margin: 8px;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    margin-top: 100px;
    height: calc(100vh - 186px);
    width: 340px;

    .spinner-container {
        text-align: center;

        .spinner-border {
            width: 3em;
            height: 3em;
            text-align: center;
        }
    }

    .active-trade-list-header {
        display: flex;
        justify-content: space-between;
        padding: 12px 6px;
        height: 46px;
    }

    .button.btn-close {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .puzzle-piece-selector {
        position: relative;
    }

    .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
        position: relative;
    }

    .puzzle-piece-selector-button {
        width: 100%;
        display: flex;
        align-items: center;
        height: 275px;
        padding: 6px;
        position: relative;
        box-shadow: none !important;
        outline: inherit !important;
    }

    .dropdown-menu {
        max-height: 500px;
        overflow-y: auto;
        padding: 2px;
        display: block;
        width: 100%;
        text-align: center;
    }

    .disabled * {
        filter: grayscale(1);
        cursor: not-allowed !important;
    }

    .counter-staking-address {
        text-overflow: ellipsis;
        max-width: 100%;
        overflow: hidden;
    }

    .puzzle-pieces {
        width: 100px !important;
        height: 100px !important;
    }

    .trade-summary {
        margin-top: 10px !important;
        margin: auto;
    }

    .disabled-overlay-message {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background: #0c0808;
        padding: 5px;
        border-radius: 4px;
        opacity: 0.8;
        z-index: 1;
        margin-top: 40%;
    }    
}
